.OpenWeather {
	color: #FFFFFF;
	margin-top:36px;
}
.weather-data-title {
	font-weight:500;
}
.weather-data-details {
	margin-top:30px;
}
.weather-temp {
	font-size: 100px;
	font-weight: 200;
	line-height: .8;
}
.weather-condition{
	font-weight:500;
	font-size: 32px;
	margin-top:20px;
}
.weather-day{
	font-size: 32px;
	margin-left:20px;
}
.weather-data-element.weather-twilight,
.weather-data-element.weather-wind,
.weather-data-element.weather-uvi {
	margin-left:5px;
}
.weather-forecast {
	line-height:2em;
	border-bottom:1px solid rgba(255, 255, 255, 0.5);
}
.weather-forecast a:hover {
	border-bottom-style:dotted;
}
@media only screen and (max-height: 500px) {
	.weather-data-conditions {
		float: left;
	}
  .weather-data-details {
		margin: 0px 0px 0px 36px;
		float: left;
	}
}
